@model InstagramApp.Models.Post

@{
    ViewData["Title"] = "Edit příspěvku";
}
<h1>Edit příspěvku</h1>
<p>Upravte svůj příspěvek!</p>

<form asp-action="EditePostForm" method="post" enctype="multipart/form-data">
    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />

    <input class="form-control" asp-for="Text" placeholder="Popix příspěvku" type="text" />

    <div class="form-group">
        <label for="imgUpload">Nahrát obrázek</label>
        <input type="file" class="form-control" id="imgUpload" name="ImageFile" asp-for="ImageFile" />
    </div>

    <input type="submit" value="Save" class="btn btn-primary mt-2" />

</form>
